body {
    background-color: coral;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: normal;
}
main {
    text-align: center;
}
.adder {
    position: relative;
    width: 250px;
    margin: 15px auto;
    display: inline-block;
    vertical-align: top;
}

.adder span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.8;
    cursor: pointer;
    transition: all 200ms;
    color: white;
    will-change: transform;
}

.adder span:hover {
    transform: rotate(180deg);
}

::-webkit-input-placeholder {
    color: white;
}
.input {
    outline: none;
    border: 1px solid white;
    background-color: coral;
    color: white;
    height: 50px;
    width: 250px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 16px;
}
.list-container {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}
footer {
    color: white;
    width: 50%;
    bottom: 0;
    opacity: .75;
    height: 75px;
    text-align: left;
    margin-left: 20px;
    position: fixed;
}

.draggable {
    will-change: transform;
    font-weight: 800;
    height: 50px;
    list-style-type: none;
    margin: 10px;
    background-color: white;
    color: coral;
    width: 250px;
    line-height: 3.2;
    padding-left: 10px;
    cursor: move;
    transition: all 200ms;
    user-select: none;
    margin: 10px auto;
    position: relative;
}

.draggable:after {
    content: 'drag me';
    right: 7px;
    font-size: 10px;
    position: absolute;
    cursor: pointer;
    line-height: 5;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.50);
    transform: translateX(120%);
    opacity: 0;
  }

  .draggable:hover:after {
    opacity: 1;
    transform: translate(0);
  }

  .over {
    border-top: 4px solid black;
  }